html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  width: 100%;
  background-color: #54b454;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 25px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #54b454;
}

.toggle{
	list-style: none;
	display: none;
}



@media (max-width: 1000px){
	
	nav{
	  justify-content: left;
	  align-items: left;	
	  
	}
	
	.toggle{
		display: flex;
	}
	.toggle-item{
		display: inline-block;
		padding: 25px 15px;
		text-decoration: none;
		color: white;
	}
	.toggle-item:hover {
	  background-color: white;
	}

	.toggle-item:hover i {
	  color: #54b454;
	}
	.nav-links{
		display: none;
	}
	.active{
		display: flex;
		flex-flow: column wrap;
	}

}