.carousel{
	width: 100%;
	height : 495px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	user-select: none;
	box-shadow: 0px 0px 3px 1px #00000078;
	box-sizing: border-box;

	background-color: white;
}

.carousel .slider{
	width : 100%;
	height: 90%;
	max-width: 800px;
	overflow: hidden;
	position: relative;
	item-align: center;
	
}

.carousel .slider .slide{
	width : 100%;
	height : 100%;
	position : absolute;
	opacity: 0;
}

.carousel .slider .slide img{
	width : 100%;
	height : 100%;
}

.carousel .slider .slide texteDescriptif{
	display:none;
}

/* Propriétés communes aux 2 zones de flèches */
.carousel .slider .leftArrow, .carousel .slider .rightArrow{
	width : 50px;
	background-color: #00000036;
	position: absolute;
	left:0;
	z-index: 1;
	transition: background 0.5s;
	height: 72px;
	top: 50%; /*center*/
	transform: translateY(-50%);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carousel .slider .rightArrow{
	left : auto;
	right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

}

/* Effet au survol de la zone des flèches */
.carousel .slider .leftArrow:hover, .carousel .slider .rightArrow:hover{
	background-color: #000000a8;
	cursor: pointer;
}

/* Design des flèches */
.carousel .slider .arrow{
	display: inline-block;
	border: 3px solid white;
	width: 10px;
	height: 10px;
	border-left: none;
	border-bottom: none;
	margin: auto;
	position: absolute;
	left: 0;
	right : 0;
	top: 0;
	bottom : 0;
}

/* Rotation des flèches*/
.carousel .slider .arrow.arrowLeft{
	transform: rotateZ(-135deg);
}
.carousel .slider .arrow.arrowRight{
	transform: rotateZ(45deg);
}

/* Description des slides */
.carousel .slider>.Descriptif{
	position: absolute;
	bottom: 0;
	z-index: 1;		/* ordre de pile: 1er plan */
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-align : center;
	width : 100%;
	background : #00000047;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.carousel .slider>.Descriptif>.texteDescriptif{
	margin: 0;
}

/* Points d'avancés du slider */
.carousel #carouselPoint{
	width: 100%;
	height: 10%;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
}

/* chaque point */
.carousel #carouselPoint .points{
	display: inline-block;
	width : 15px;
	height : 15px;
	border-radius: 50%;
	margin-left: 10px;
	background-color: #bbb;
	cursor: pointer;
	transition: background-color 0.5s;
}

/* La couleur du point change en fonction de s'il est survolé/activé ou non */
.carousel #carouselPoint .points:hover, .carousel #carouselPoint .points.active{
	background-color: #717171;
}

/* On enlève le margin:left au 1er point */
.carousel #carouselPoint .points:first-child{
	margin-left: 0;
}

.carousel .decalageGaucheSlideCourante{
	animation-name: decalageGaucheCourant;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.carousel .decalageGaucheSlideSuivante{
	animation-name: moveLeftNext;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes decalageGaucheCourant{
	from{
		margin-left: 0;
		opacity: 1;
	} to {
		margin-left: -100%;
		opacity: 1;
	}
}

@keyframes moveLeftNext{
	from{
		margin-left: 100%;
		opacity: 1;
	} to {
		margin-left: 0;
		opacity: 1;
	}
}

.carousel .decalageDroiteSlideCourante{
	animation-name: decalageDroiteCourant;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes decalageDroiteCourant{
	from{
		margin-left: 0;
		opacity: 1;
	} to {
		margin-left: 100%;
		opacity: 1;
	}
}

.carousel .decalageDroiteSlideSuivante{
	animation-name: decalageDroiteSuivant;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes decalageDroiteSuivant{
	from{
		margin-left: -100%;
		opacity: 1;
	} to {
		margin-left: 0;
		opacity: 1;
	}
}

/*Dynamiser le texte du bas*/
.decalageTexteBas{
	animation-name : decalageTexteBas;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
}

@keyframes decalageTexteBas{
	from{
		opacity: 0;
		margin-top: -100px;
	}
	to{
		opacity: 1;
		margin-top:0;
	}
}

.descriptionSlider{
	text-align: center;
	margin-top: 1%;
}