@import url("content/menu.css");
@import url("content/slider.css");
@import url("content/aPropos.css");
@import url("content/contact.css");
@import url("content/monCompte.css");
@import url("content/footer.css");
@import url("content/connexion.css");
@import url("content/produits.css");


* {
	margin : 0;
	padding : 0;
	font-family: sans-serif;
}

html{
	width:100%;
	height: 100%;	
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color : white;
	margin: 0;
}

section{
	display: flex;
}

main{
	display:flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.main-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-item p {
  display: inline-block;
  padding: 25px 15px;
  text-decoration: none;  

}

.sub-list {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sub-item {
	max-width: 35%;
	padding: 10px;
}

@media (max-width: 1000px){
	.sub-item {
		max-width: 45%;
		padding: 5px;
	}

}

.titre {
  font-size: 150%;
  color: #54b454;
  font-weight: 600;
}

.image {
 max-width: 100%;
}

input {
  border: none;
  border-radius: 0.4rem;
  background-color : #eee;
  padding: 0 10px;
  height : 35px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input::placeholder {
  color: #B0BEC5;
  padding : 10px;
}

input:focus{
  box-shadow: 0 0 3px rgba(34, 191, 136, 1);
  border: 1px solid rgba(34, 191, 136, 1);
}


textarea {
  padding: 15px 10px;
  display: block;
  border: none;
  border-radius: 0.4rem;
  background-color : #eee;
}

textarea::placeholder{
  color: #B0BEC5;
  padding : 3px;
}

.button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    padding: 12px 12px 24px;
    font-size: 14px;
}

li {
  list-style : none;
}

.etoile{
  color: #f73e3e;
  font-size : 18px;
  display: inline;
  font-weight: bold;
}

.err{
    color:red;	
}

.reussite{
    color:green;	
}
